<h1>Welcome to Homepage/All Posts</h1>

<a href="/questions/new">Ask Question</a>

<div class="container">
  <h2>Top Questions</h2>
  <% @questions.each do |question| %>
    <div class="container">
      <!-- Stats -->
      <p> qvotes:<%= question.find_votes_for_question %> </p>
      <p> #ofans:<%= question.find_answers_for_question(question.id) %> </p>

      <!-- Question -->
      <h3><a href="/questions/<%= question.id %>">
        Question Title: <%= question.title %>
      </a></h3>
      <!-- Tags -->
      <%# question.find_taggings_for_question(question.id).each |tag| %>
        <div><%#= tag.type %></div>
      <%# end %>
      <!-- Author -->
      <a href="/users/"<%= question.user_id %>>
        User Display Name: <%= question.find_display_name(question.user_id) %>
      </a>
    </div>
  <% end %>
</div>