<a href="/questions/new">Ask Question</a>

<!-- Questions -->
<h1><%= @question.title %></h1>
<div class="container">
  <!-- Stats -->
  <a href="/questions/<%= @question.id %>/votes/1">Upvote</a>
  <p>
    <%= @question.find_votes_for_question %>
  </p>
  <a href="questions/<%= @question.id %>/votes/-1">Downvote</a>
  <!-- Question body -->
  <p> <%= @question.body %></p>
  <!-- Taggings -->

  <!-- Question author -->
  <a href="">
      <%= @question.find_display_name(@question.user_id) %>
  </a>
  <br>
  <!-- Add a comment -->
  <a href="#">add a comment</a>
</div>
<!-- Answers -->
<div class="container">
  <h4><%= @answers.length %> Answers</h4>
  <% @answers.each do |answer| %>
    <div class="container">
      <!-- Stats -->
      <a href="">Upvote</a>
      <p>
        <%= answer.find_votes_for_answer %>
      </p>
      <a href="">Downvote</a>
      <!-- Text -->
      <h2> <%= answer.text %> </h2>
      <!-- Answer Author -->
      <a href="/users/"<%= @question.user_id %>>
          <%= answer.find_display_name(answer.user_id) %>
      </a>
      <br>
      <!-- Add a comment -->
      <a href="#">add a comment</a>
      <br>
    </div>
  <% end %>
</div>
<!-- Submit Answers -->
<div class="container">
  <h2>Your Answer</h2>

  <form action="/answers" method="post">
    <input type="hidden" name="question_id" value=<%= @question.id %>>
    <textarea name="answer-text" placeholder="text"></textarea>
    <br>
    <input id="submit-button" type="submit" value="Submit Answer">
  </form>
</div>