<div class="comment-body">
   <span class="comment-text"> <%= comment.text %> - </span> <span class="comment-user"><a href="/users/<%= comment.user_id %>"> <%= comment.users_display_name %> </a>
   <%= comment.created_at %>
   <%if authorized?(comment.id)%>
    <a href="/<%=commentable.class.name%>/<%=commentable.id%>/comments/<%=comment.id%>/edit">edit button </a>
    <form class="comment-delete" method="post" action="/<%= commentable.class.name %>/<%= commentable.id %>/comments/<%= comment.id %>">
      <input type="hidden" name="_method" value="delete"/>
      <input type="submit" value="delete"/>
    </form>
    <%end%>
  </span>
</div>
